.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .logo a {
    color: #000;
  }
  
  .logo h1 {
    font-size: 1.1rem;
  }
  
  .logo p {
    font-size: 1rem;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav li {
    margin-right: 1.2rem;
  }
  
  .nav li a {
    font-size: 14px;
    font-weight: 550;
  }
  
  .nav li:last-child a {
    display: block;
    background: #3cb46e;
    color: #fff;
    padding: 0.5rem 0.6rem;
    border-radius: 5px;
    transition: filter 0.5s;
  }
  
  .nav li:last-child a:hover {
    filter: brightness(85%);
  }
  .nav-search-form {
    margin-left: 40px;

  }
  
  .nav-search-form input {
    padding: 0.7rem;
    border-radius: 20px;
    border: none;
    background-color: #eee;
    width: 700px;
    font-size: 0.9rem;
    color: #333;
  }
  
  .nav-search-form input:focus {
    background: #fff;
  }
.nav-logo{
    width: 40px;
    height: 40px;
}  
.advertise{
    display: flex;
    gap:20px;
    margin-left: 40px;
}
.advertise p{
    cursor: pointer;

}
a{
    text-decoration:none;
    color: black;
    cursor: pointer;

}
.btn{
width: 130px;
height: 35px;
margin-top: 3px;
border-radius: 10px;
border: 0.2px solid rgb(185, 184, 184);
}
.fa-regular fa-bell{
    width: 20px;
    height: 20px;
}

.category-nav {
    display: flex;
    padding-left: 0.6rem;
    overflow: hidden;
    gap: 6px;
  }
  
  .category-nav .category {
    padding: 0.8rem;
  }
 
  .category a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
  }









  #parent{
            width: 100%;
            height:500px;
            display: flex;
            justify-content: space-between;
            }
        .child11{
            width:50%;
            height: 500px;
        }
        h1{
    color: #111;
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
        font-size: 60px;
        margin-top: 50px ;
        margin-left: 40px;
    }
.p1{
        font-size: 15px;
font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
margin-left:50px;
margin-top: 30px;
line-height: 20px;
    }
    .child22{
        /* display: flex; */
        border: 1px soild rgb(39, 37, 37);
        width: 35%;
        height: 230px;
        margin-right: 70px;
        margin-top: 90px;
        /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
        }
    .child22-1{
        width: 100%; 
       height: 52px;
       display: flex;
       align-content: space-between;
       border-bottom: 0.5px solid rgb(163, 162, 162);

       
   }
    
    .child22-2{
        display: flex;
       width: 100%;
       height: 52px;
       border-bottom: 0.5px solid rgb(163, 162, 162);
       
   }
   .child22-3{
       display: flex;
       width: 100%;
       height: 52px;
       border-bottom: 0.5px solid rgb(163, 162, 162);

   }
   .child22-4{
    display: flex;
       width: 100%;
       height: 52px;
       border-bottom: 0.5px solid rgb(163, 162, 162);

   }
.child22-5 > button{
    width: 100%;
    height: 40px;
    margin-left: -10px;
    background-color: #111;
    color: white;
}

.p1{
        font-size: 17px;
font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
margin-left:50px;
margin-top: 30px;
line-height: 25px;
    }


h4{
    margin-left:20px;
}
.btn1{
    background-color: #C2EBD3;
    width: 70px;
    height: 30px;
    margin-left: 300px;
    margin-top: 10px;
    border-radius: 10px;
}
.btn1 > h4{
    text-align: center;
    margin: auto;
}
 .i1{
    width: 30px;
    height: 30px;
    margin-left: 300px;
    border-radius: 10px;
    margin-top: 10px;
} 
.child22-3>p{
    margin-left: 265px;
    margin-top: 10px;
}
.contributors{
    display: flex;
    width: 40%;
    margin-left: 150px;
    gap:5px;
    margin-top: 10px;
   
}
  .contributors>.i2{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
a:hover{
color: rgb(66, 66, 65);
}


#container{
    display: flex;
    /* flex-direction: column; */
    width: 97%;
    height: auto;
    gap:25px;
    margin: auto;
    /* align-items:center;
    justify-content: center; */
    
}


#child1{
    width: 33%;
    height: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 600px; */
}
#child2{
    width: 33%;
    height: auto;
    gap:20px;
    display: flex;
    flex-direction: column;

    /* margin-bottom: 750px; */
}
#child3{
    width: 33%;
    height: auto;
    gap:20px;
    display: flex;
    flex-direction: column;

    /* margin-bottom: 750px; */
}
.img-div1{
width:100%;
 height:300px; 
 
}
 .img1{
    width:100%;
    height:300px;
}
.img-div2{
width: 100%;
}

.img2{
    width:100%;
    height: 530px;
}
.img3{
    width: 100%;
    height: 450px;
}
  #child1>.img-div1 > .img4{
    width:100%;
 height:500px; 
 margin-bottom: 20px;
 gap: 20px;

 /* border: 1px soild red;  */
 /* margin-bottom: 100px; */
 /* background-color: aqua; */
}
.img4{
    width: 100%;
     height:600px; 
}

@media only screen and (min-width: 421px) and (max-width: 780px) {

#container{
    display: flex;
flex-direction: column;
width: auto;
height: auto;
}
#child1{
    display: flex;
    width: 100%;
    flex-direction: column;
}
#child2{
    display: flex;

    width:100%;
    flex-direction: column;
}
#child3{
    display: flex;

    width: 100%;
    flex-direction: column;
}
}
@media only screen and (min-width: 70px) and (max-width: 420px) {
        #container {
       flex-direction: column;
        }

        #child1{
    display: flex;
    width: 100%;
    flex-direction: column;
}
#child2{
    display: flex;

    width:100%;
    flex-direction: column;
}
#child3{
    display: flex;

    width: 100%;
    flex-direction: column;
}

      }

